.wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $xs-size;
}

.google__images {
  text-align: center;
}

.language {
  margin: $m-size 0;
}

.language__definition {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.language__definition__word {
  font-size: $l-size;
  font-weight: 400;
}

.language__definition__link {
  font-size: $m-size;
  font-weight: 300;
}

.flag {
  max-width: 40px;
  height: auto;
  margin-right: $s-size;
}

.language__sentence {
  max-width: 100%;
  font-size: $m-size;
  font-weight: 300;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .1em solid transparent;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /*margin: 0 auto;*/
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 1.6s steps(40, end), blink-caret .4s step-end 4;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: #fff;
  }
}