 html {
   font-size: calc(9px + 7 * ((100vw - 320px) / 680));
 }

 body {
   background: gray;
   font-size: $m-size;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   margin: 0;
   color: white;
 }

 button {
   cursor: pointer;
 }

 button:disabled {
   cursor: default;
 }

 a {
   color: white;
   text-decoration: none;
 }

 a:active,
 a:hover {
   border-bottom: 1px solid white;
 }

 h1 {
   margin: 0;
 }

 @media screen and (min-width: 1000px) {
   html {
     font-size: 16px;
   }
 }