 html {
   font-size: 100%;
 }

 body {
   background: gray;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-size: $m-size;
   margin: 0;
   color: white;
 }

 button {
   cursor: pointer;
 }

 button:disabled {
   cursor: default;
 }

 a {
   color: white;
   text-decoration: none;
 }

 a:active, a:hover {
   border-bottom: 1px solid white;
 }
 h1 {
   margin: 0;
 }